@charset "utf-8";
/* CSS Document */
*{
	margin: 0px;
	padding: 0px;
}
body {background:#B1E0FA url("bg-body.jpg") repeat-y scroll center top;} 
.container{
	margin:0 auto;
	width: 1200px;
	background:#B1E0FA url("bg-body1.png") repeat-y scroll center top;
}
li{
	list-style-type: none;
}
ul{
	padding: center center;
}
.logo{
	width: 1200px;
	height: 100px;
	background-image: url("titlepng.png");
	background-repeat: no-repeat;
}
.nav{
	width: 1200px;
	height: 40px;
	background: url("bg-mainnav.png") repeat-x scroll left top transparent;
	border-radius: 5px;
	

}
#nav1{
	w55
}
a:hover{
		color:blue;
	}
a{
	text-decoration: none;
	color:black;
}
.nav a{
	float: left;
	font-size: 20px;
	text-align: center;
	color:white;
/*	padding: 0px 0px 10px 55px;*/

}
.nav li{
	float:left;
	display: block;
	width: 115px;
	line-height: 40px;
	padding: 0px 8px;
	cursor:pointer;
	text-indent: 1em;

}
.nav li:hover{
	background-color: slategray;
}
.nav ul{
	width: 1150px;
	height: 40px;
	margin:auto 25px;
}
.introduction{
	width: 1200px;
	height: 210px;
/*	background-color: darkseagreen;*/
	border-radius: 5px;

}
.pic_lab{
	width: 800px;
	height: 200px;
	float: left;
}
.introduce{
	float: right;
	width: 400px;
	height: 200px;
	
}
.introduction p{
	text-indent: 2em;

}
.news{
	width: 1200px;
	height: 290px;
	margin-top:10px;
	
}
.more{
	width: 480px;
	margin:auto;
}
/*
.news li{
	text-indent: 1em;
}
*/
.gonggao{
	width: 500px;
	height: 280px;
/*	margin: 20px 20px;*/
	float:left;
	background: url("bg-content-top.png") repeat ;
	border-radius: 5px;
}
.gonggao ul{
	width: 480px;
	height: 200px;
	margin:auto;
}
.gonggao li{
	line-height: 25px;
}
.hotnews ul{
	width: 480px;
	height: 200px;
	margin:auto;
}
.hotnews li{
	line-height: 25px;
}
.news p{
	font-size: 22px;

	text-indent: 10px;
	line-height: 50px;	
	
}
.hotnews{
	width: 500px;
	height: 280px;
/*	margin: 20px 50px 20px 50px;*/
	float:left;
	background: url("bg-content-top.png") repeat ;
	margin:0px 25px;
	border-radius: 5px;
}
.links{
	width: 150px;
	height: 280px;
	background: url("bg-content-top.png") repeat ;
	float: left;
	border-radius: 5px;
}
.links ul{
	width: 120px;
	height: 150px;
	margin:auto;
	
}
.links li{
	line-height: 25px;
	font-size: 13px;
}
.foot{
	width: 1200px;
	height: 80px;
	color:#205958;
	font-size: 13px;
	letter-spacing:2px;
	background: url("bg-block-480.png");
}
.foot_pic{
	width: 450px;
	height: 80px;
	float:left;
}
.foot_content{
	float: left;
}
/*
.foot p{
	text-align: center;
	font-size: 16px;
}
*/
/*副页样式*/
.fuye{
	width: 1200px;
	height: 1000px;
/*	background: #F1B790;*/
}
.left{
	width: 300px;
	height: 900px;
	background:url("fy-left-top.png") repeat-x scroll center top;
	float: left;
	margin:10px 0px;
}
.right{
	float:right;
	width: 900px;
	height: 900px;
/*	background: #ACF3B0;*/
}
.sectitle{
	width: 300px;
	height: 50px;
	line-height: 50px;
	font-size: 20px;
	font-weight: bold;
	text-indent: 1em;
	
}
.fuye ul{
	width: 200px;
	height: 400px;
	margin:15px auto;
}
.fuye li{
	line-height: 50px;
	font-size: 20px;
}
.postion{
	width: 880px;
	height: 50px;
	font-size: 16px;
	text-indent: 2em;
	line-height: 50px;
	margin:10px 10px;
	background: url("position.png") repeat-x scroll center;
}
.content{
	width: 880px;
	height: 800px;
	margin:auto;
	background: url("bg-content.png") repeat;
}
.content_title{
	width: 700px;
	height: 40px;
	line-height: 40px;
	font-size: 20px;
	text-align: center;
}
.content_time{
	width: 700px;
	height: 20px;
	line-height: 20px;
	font-size: 12px;
	text-align: center;
}
.text{
	text-indent: 2em;
	line-height: 30px;
	font-size: 16px;
}
